@charset "utf-8";

input.form-control.sm-box {
    min-width: 20px;
    max-width: 200px;
    width: 100%;
    display: inline;
}

input.form-control.xs-box {
    min-width: 20px;
    max-width: 200px;
    width: 100%;
    display: inline;
}

#main_head strong {
    border-bottom: solid thin blue;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.row:last-child {
    margin-top: 20px;
}



.main-row>span {
    border-bottom: dotted thin gray;
    border-collapse: collapse;
    margin-bottom: 10px;
    padding-bottom: 25px;
    height: 20px;
}

input.sm-box.namebox {
    width: 37%;
    padding: 1px 3px;
}

input.sm-box.addbox {
    padding: 2px 3px;
}

.container.maxw {
    margin-left: unset;
}

.row.spacer-below {
    margin-bottom: 30px;
}

div.grey-row {
    color: #999;
}

div.last-grey {
    margin-bottom: 30px;
}

.fnt-bold {
    font-weight: bold;
}

.my-popup-warn {
    z-index: 2;
    position: absolute;
    top: -20px;
    margin-left: 40px;
    width: 320px;
}

.noseeme    {
    display: none !important;
}

.edited {
    width: 60px;
}

.editable {
    cursor: pointer;
}

span.editpencil {
    cursor: pointer;
    margin-left: -20px;
    margin-top: 3px;
}

body>div {
    margin-bottom: 20px;
}

div.flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* DEBUG
div.treediv {
    outline: blue dashed thin;
}
/*
span {
    outline: green dotted thin;
}*/
