@charset "utf-8";



input.form-control.sm-box {
    min-width: 20px;
    max-width: 200px;
    width: 100%;
    display: inline;
}

input.form-control.xs-box {
    min-width: 20px;
    max-width: 200px;
    width: 100%;
    display: inline;
}

#main_head strong {
    border-bottom: solid thin blue;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.row:last-child {
    margin-top: 10px;
}
