{% extends "layout.html" %}
{% block body %}
<div class="container">
{% if errors -%}
  <h3>Errors in Quota From</h3>
    {% for group, field, typemsg in errors -%}
    <ul class="alert alert-danger">
      <ol>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
          {{ "<u>%s</u>, <i>%s</i> needs to be a %s"|format(group, field, typemsg)|safe }}
      </ol>
    </ul>
    {% endfor -%}
<button class="btn btn-default" onclick="window.history.back();">
Go Back and Fix!</button>
{% else -%}
<h3>Edit Group Parameters</h3>
<form class="form-inline" role="form" method="POST">
  <table class="table table-bordered table-striped table-hover table-condenced">
    <colgroup>
      <col class="col-md-2">
      <col class="col-md-1">
      <col class="col-md-1">
      <col class="col-md-1">
      <col class="col-md-1">
      <col class="col-md-1">
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quota</th>
        <th>Prio</th>
        <th>Weight</th>
        <th>Threshold</th>
        <th>Surplus</th>
      </tr>
    </thead>
    <tbody>
    {%- for group in groups %}
    {% set parent = '.'.join(group.full_name.split('.')[:-1]) %}
    <tr>
        <td>{{parent + ("<u>.</u>"|safe if parent else '')}}
            <input type="text" value="{{group.full_name.split('.')[-1]}}" class="form-control sm-box namebox"
            name="{{group.full_name + '+new_name'}}"/></td>
        <td><input type="text" name="{{group.full_name + '+quota'}}" class="form-control sm-box" value="{{group.quota}}"
        {{ 'disabled title="Disabled because non-leaf node"'|safe if not group.is_leaf else ''}}
        /></td>
        <td><input type="text" name="{{group.full_name + '+priority'}}"
            class="form-control sm-box" value="{{group.priority|round(1)}}"/></td>
        <td><input type="text" name="{{group.full_name + '+weight'}}"
            class="form-control sm-box" value="{{group.weight|round(1)}}"/></td>
        <td><input type="text" name="{{group.full_name + '+surplus_threshold'}}" class="form-control sm-box"
            {% if group.is_leaf %}
                value="{{group.surplus_threshold}}"/>
            {% else %}
                value="" disabled title="Disabled because non-leaf node"/>
            {% endif %}
        <input type="hidden" name="{{group.full_name + '+group_name'}}" value="{{group.full_name}}"/>
        </td>
        <td><input type="checkbox" name="{{group.full_name + '+accept_surplus'}}"
            class="truefalse" {{ 'checked' if group.accept_surplus else '' }}> </td>
    </tr>
    {%- endfor %}
    </tbody>
  </table>
  <br>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif -%}
</div>
{% endblock %}
