{% extends "layout.html" %}
{% block body %}

<h3>Edit Quotas</h3>
<form class="form-inline container" role="form" method="POST">
<div class="row">
  <table class="table table-bordered table-striped table-hover table-condenced">
    <colgroup>
      <col class="col-md-2">
      <col class="col-md-1">
      <col class="col-md-1">
      <col class="col-md-1">
      <col class="col-md-1">
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quota</th>
        <th>Prio</th>
        <th>Weight</th>
        <th>Surplus</th>
      </tr>
    </thead>
    <tbody>
    {%- for group in groups %}
    <tr>
        <td><strong>{{group.full_html|safe}}</strong></td>
        <td><input type="text" class="form-control sm-box" value="{{group.quota}}"
        {{ 'disabled title="Disabled because non-leaf node"'|safe if not group.is_leaf else ''}}
        /></td>
        <td><input type="text" class="form-control sm-box" value="{{group.priority|round(1)}}"/></td>
        <td><input type="text" class="form-control sm-box" value="{{group.weight|round(1)}}"/></td>
        <td><input type="checkbox" class="truefalse"
            {{ 'checked' if group.accept_surplus else '' }}>
        </td>
    </tr>
    {%- endfor %}
    </tbody>
  </table>
  <br>
</div>


<button type="submit" class="btn btn-default">Submit</button>
</form>

<script type="text/javascript"> $(".truefalse").bootstrapSwitch(); </script>
{% endblock %}
