{% extends "layout.html" %}
{% block body %}


<form class="form-inline" role="form">

    {%- for grp in groups %}

    <div class="form-group">
        <p>{{grp.group_name}}
        <label>Quota</label><input type="text" class="form-control input-xsmall" value="{{grp.quota}}"/>
        <label>Prio</label><input type="text" class="form-control input-xsmall" value="{{grp.priority}}"/>
        <label>Weight</label><input type="text" class="form-control input-xsmall" value="{{grp.weight}}"/>
        <label> Surplus <input type="checkbox" class="truefalse" {{ 'checked' if grp.accept_surplus else '' }}> </label>
    </div>
    <br>
    {%- endfor %}
<button type="submit" class="btn btn-default">Submit</button>
</form>

<script type="text/javascript"> $(".truefalse").bootstrapSwitch(); </script>
{% endblock %}
