{% extends "layout.html" %}
{% block body %}
<div class="container maxw">
{% if typeerrors or treeerror -%}
  <h3>Error Adding Group</h3>
    {% if treeerror %}
    <ul class="alert alert-danger">
      <ol>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{ treeerror }}
      </ol>
    </ul>
    {% endif %}
    {% for group, field, typemsg in typeerrors -%}
    <ul class="alert alert-danger">
      <ol>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
          {{ "<u>%s</u>, <i>%s</i> needs to be a %s"|format(group, field, typemsg)|safe }}
      </ol>
    </ul>
    {% endfor -%}
<button class="btn btn-default" onclick="window.history.back();">
Go Back and Fix!</button>
{% elif rmerrors -%}
  <h3>Error Removing Group(s)</h3>
  {% for group, strands in rmerrors -%}
  <ul class="alert alert-danger">
    <ol>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<span class="sr-only">Error:</span>
        Cannot remove <b>{{ group }}</b> because it would strand the following groups with no parent:
        <ul>
        {% for name in strands %}
          <li>{{name}}</li>
        {% endfor %}
        </ul>
    </ol>
  </ul>
  {% endfor -%}
<button class="btn btn-default" onclick="window.history.back();">
Go Back and Fix!</button>
{% else -%}
<form class="form-inline" role="form" method="POST">
<h3>Add or Remove Groups</h3>
<div class="row" id="main_head"> <!-- Row of headers -->
  <strong class="col-xs-1">Delete?</strong>
  <strong class="col-xs-3">Name</strong>
  <strong class="col-xs-1">Quota</strong>
  <strong class="col-xs-1">Prio</strong>
  <strong class="col-xs-1">Weight</strong>
  <strong class="col-xs-1">Threshold</strong>
  <strong class="col-xs-1">Surplus</strong>
</div>
{%- for group in groups %}
<div class="row main-row"> <!-- Row for group {{group.full_name}} -->
  <span class="col-xs-1">
    <input type="checkbox" name="rm_me" value="{{group.full_name}}"/>
  </span>
  <span class="col-xs-3"><strong>{{ group.full_name }}</strong></span>
  <span class="col-xs-1">{{ group.quota }}</span>
  <span class="col-xs-1">{{ group.priority|round(1) }}</span>
  <span class="col-xs-1">{{ group.weight|round(1) }}</span>
  <span class="col-xs-1">{{ group.surplus_threshold }}</span>

  <span class="col-xs-1">
    <span class="glyphicon {{ 'glyphicon-ok text-success' if group.accept_surplus else 'glyphicon-remove text-danger' }}" aria-hidden="true">
    </span>
  </span>
</div> <!-- End {{group.full_name}} -->
{%- endfor %}
<div class="container-fluid">
  <div class="row">
  <div class="col-xs-3">
    <label for="">Group Name</label>
    <input type="text" name="new+group_name" class="form-control sm-box"/>
  </div>
  <div class="col-xs-2">
    <label for="">Quota</label>
    <input type="text" name="new+quota" class="form-control sm-box"/>
  </div>
  <div class="col-xs-1">
    <label for="">Priority</label>
    <input type="text" name="new+priority" value="{{ defaults['priority'] }}" class="form-control sm-box addbox"/>
  </div>
  <div class="col-xs-1">
    <label for="">Weight</label>
    <input type="text" name="new+weight" value="{{ defaults['weight'] }}" class="form-control sm-box addbox"/>
  </div>
  <div class="col-xs-2">
    <label for="">Threshold</label>
    <input type="text" name="new+surplus_threshold" value="{{ defaults['surplus_threshold'] }}" class="form-control sm-box addbox"/>
  </div>
  <div class="col-xs-1">
    <label for="">Surplus</label>
    <input type="checkbox" name="new+accept_surplus" class="form-control truefalse"/>
  </div>
  </div>
</div> <!-- End add-form fluid-container -->
<br/>
<button type="submit" class="btn btn-default">Submit</button>
</form>
</div> <!-- End entire form container -->
</div>
<script type="text/javascript"> $(".truefalse").bootstrapSwitch(); </script>
{%- endif %}
{% endblock %}
