<!doctype html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <link href="{{ url_for('static', filename='css/bootstrap-switch.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-switch.min.js')}}"></script>
  <title>Group Quota Editor</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
