<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="{{ url_for('static', filename='css/bootstrap-switch.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/awesome-bootstrap-checkbox.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-switch.min.js')}}"></script>
  {%- block extraheaders %}{% endblock %}
  <title>Group Quota Editor</title>
</head>
<body>
{% import 'macros.html' as macros %}
{%- block navbar %}{%- endblock %}
{%- with messages = get_flashed_messages(True) %}
  {% if messages -%}
    {% for cat, message in messages -%}
    {% if cat == "message" %}
        <div class="alert alert-success closeme"> {{message}} </div>
    {% elif cat == "nochange" %}
        <div class="alert alert-info closeme"> {{message}} </div>
    {% elif cat == "stay" %}
        <div class="alert alert-info"> {{message}} </div>
    {% elif cat == "error" %}
        <div class="alert alert-danger"> {{message}} </div>
    {% endif -%}
    {% endfor -%}
  <script>
    $(".closeme").delay(2500).slideUp(200, function() {
      $(this).alert('close');
    });
  </script>
  {% endif -%}
{%- endwith %}
{%- block body %}{%- endblock %}
</body>
</html>
