{% extends "layout.html" %}
{% block body %}
  <div class="container-fluid">
  <h2>ATLAS Group Quotas</h2>
  <div class="row" id="main_head">
          <strong class="col-xs-3">Name</strong>
          <strong class="col-xs-1">Quota</strong>
          <strong class="col-xs-1">Prio</strong>
          <strong class="col-xs-1">Weight</strong>
          <strong class="col-xs-2">Surplus</strong>
  </div>
      {%- for group in groups %}
      <div class="row main-row">
          <span class="col-xs-3"><strong>{{group.full_name}}</strong></span>
          <span class="col-xs-1">{{group.quota}}</span>
          <span class="col-xs-1">{{group.priority|round(1)}}</span>
          <span class="col-xs-1">{{group.weight|round(1)}}</span>
          <span class="col-xs-2">{{ 'True' if group.accept_surplus else 'False' }}</span>
      </div>
      {%- endfor %}
    <div class="row">
      <div class="col-xs-12">
        <a href="/edit" class="btn btn-primary btn-sm" role="button">Edit Groups</a>
        <a href="/addrm" class="btn btn-danger btn-sm" role="button">Add/Remove Groups</a>
        <a href="/ezq" class="btn btn-success btn-sm" role="button">Quotas EZ-Edit</a>
      </div>
    </div>
  </div>
{% endblock %}
