{% extends "layout.html" %}
{% block navbar %}
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
{% endblock %}
{% block body %}
<div class="container-fluid">
  <h2>ATLAS Group Editor</h2>
    <div class="row" id="main_head">
      <strong class="col-xs-3">Name</strong>
      <strong class="col-xs-1">Quota</strong>
      <strong class="col-xs-1">Prio</strong>
      <strong class="col-xs-1">Weight</strong>
      <strong class="col-xs-1">Surplus</strong>
      <strong class="col-xs-1">Busy</strong>
    </div>
    {%- for group in groups %}
    <div class="row main-row">
      <span class="col-xs-3">
        {%- if group.is_leaf %}<span class="glyphicon glyphicon-leaf text-success"></span>{%- endif %}
        <strong>{{group.full_name}}</strong></span>
      <span class="col-xs-1 {{'text-muted' if not group.is_leaf else ''}}">{{group.quota}}</span>
      <span class="col-xs-1">{{group.priority|round(1)}}</span>
      <span class="col-xs-1">{{group.weight|round(1)}}</span>
      <span class="col-xs-1">
        <span class="glyphicon {{ 'glyphicon-ok text-success' if group.accept_surplus else 'glyphicon-remove text-danger' }}" aria-hidden="true">
        </span>
      </span>
      <span class="col-xs-1">{{group.busy if group.is_leaf else "<span class='glyphicon glyphicon-option-horizontal'></span>"|safe}}</span>
    </div>
{%- endfor %}
  <div class="row">
    <div class="col-xs-12">
      <a href="/ezq" class="btn btn-success btn-sm" role="button">Quotas EZ-Edit</a>
      <a href="/edit" class="btn btn-primary btn-sm" role="button">Edit Groups</a>
      <a href="/addrm" class="btn btn-danger btn-sm" role="button">Add/Remove Groups</a>
    </div>
  </div>
</div>
{% endblock %}
