{%- extends "layout.html" %}
{%- block navbar %}
{{ macros.navbar(('Home', '/'), ('Quota-EZ Chooser', None)) }}
{%- endblock -%}
{%- block body -%}
<div class="container-fluid maxw">
{%- for groupgroup in groupgroups if groupgroup|length > 1 %}
{%- set parent = groupgroup[0].parent %}
<div class="row" id="main_head"> <!-- Start Title bar -->
  <strong class="col-xs-5">Sibling Group for {{parent}}</strong>
</div>
<div class="row">
  <span class="col-sm-5">
  <ul class="list-unstyled">
    <li>{{parent}}</li>
    <ul>
{%- for group in groupgroup %}
      <li>{{group}}</li>
{%- endfor %}
    </ul>
  </ul>
  </span>
</div>
<div class="row spacer-below">
  <span class="col-sm-5">
    <a href="/ezq/{{parent}}" class="btn btn-primary btn-xs" role="button">Edit</a>
  </span>
</div>
{%- endfor %}
<button class="btn btn-default btn-sm" type="button" onclick="window.history.back();">Back</button>
</div>
{%- endblock %}
