{%- extends "layout.html" %}
{%- block navbar %}
{{ macros.navbar(('Home', '/'), ('Quota-EZ Chooser', None)) }}
{%- endblock -%}
{%- block body -%}
<div class="container-fluid maxw">
  <div class="row">
  <a href="/ezq/<root>">{{"Tree Root"}}</a>
  <span class="small text-muted">(Edit {{ groups[0].parent.get_children()|join(', ') }} and their children)</span>
  </div>
{%- for group in groups %}
  <div class="row">
  {{ "&nbsp;"|safe * (4 + group.full_name.count('.') * 4)}}
{%- if not group.is_leaf and group.children|length > 1 %}
  <a href="/ezq/{{group}}">{{group}}</a>
  <span class="small text-muted">(Edit {{ group.get_children()|join(', ') }} and their children)</span>
{%- else %}
  {{group}}
{%- endif %}
  </div>
{%- endfor %}
  <div class="row">
    <button class="btn btn-default btn-sm" type="button" onclick="window.history.back();">Back</button>
  </div>
</div>
{%- endblock %}
