{%- extends "layout.html" %}
{%- block extraheaders %}
  <script src="{{ url_for('static', filename='js/mylib.js')}}"></script>
{%- endblock %}
{%- block navbar %}
{{ macros.navbar(('Home', '/'), ('Quota-EZ Chooser', '/ezq'), ('EZ Edit', 'None')) }}
{%- endblock -%}
{%- block body -%}
<div id="maincont" class="container-fluid maxw">
<form class="form-inline" role="form" method="POST" id="f_ezedit">
<div class="row" id="main_head"> <!-- Start Title bar -->
  <strong class="col-xs-3">Name</strong>
  <strong class="col-xs-1">Fix</strong>
  <strong class="col-xs-1">Quota</strong>
  <strong class="col-xs-5">Slider</strong>
</div>
<span hidden id="totalQuota">{{groups[0].parent.quota}}</span>
{%- for group in groups %}
<!-- Start of {{group}} row -->
<div class="row">
  <span class="col-xs-3">
  {%- if not group.is_leaf %}
    <a href="/ezq/{{group}}">{{group}}</a>
  {%- else %}
    {{group}}
  {%- endif%}
  </span>
  <span class="col-xs-1">
    <span class="checkbox checkbox-danger" style="margin-top: 0px;">
        <input type="checkbox" name="{{group}}+take" class="ckbx"/>
        <label></label>
      </span>
  </span>
  <span class="col-xs-1">
    <span id="{{group}}+disp_quota" class="editable">NULL</span>
    <span class="glyphicon glyphicon-pencil pull-left editpencil" aria-hidden="true"></span>
  </span>
  <span class="col-xs-1">0</span>
  <span class="col-xs-3">
    <input type="range" class="slider" id="{{group}}" name="{{group}}" hash="{{group.uniq_id}}"
           value="{{group.quota}}" min="0" max="{{group.parent.quota}}" step="any"/>
  </span>
  <span class="col-xs-1 tqdisp" id="{{group}}+tq">NIL</span>
</div>
{%- for child in group %}
<div class="row grey-row {% if loop.last -%}last-grey{%- endif -%}">
    <span class="col-xs-1"></span>
    <span class="col-xs-3">{{child}}</span>
    <span class="col-xs-1" parent="{{group}}" id="{{child}}+disp_quota">FOO</span>
    <span class="col-xs-4"></span>
    <input class="{{group.uniq_id}}_chld" type="hidden" name="{{child}}"
           value="{{child.quota}}" proportion="{{child.quota/group.quota}}"/>
</div>
{%- endfor %}
{%- endfor %}
<div class="row">
<div class="col-xs-4"></div>
<div class="col-xs-1" style="border-top: solid thin" id="quotasum">XXX</div>
<div class="col-xs-5"></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-default btn-sm" onclick="window.history.back();">Back</button>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </div>
</div>
</form>
</div>
<script src="{{ url_for('static', filename='js/ezedit.js')}}"></script>
{%- endblock %}
