{%- extends "layout.html" %}
{%- block extraheaders %}
  <script src="{{ url_for('static', filename='js/mylib.js')}}"></script>
{%- endblock %}
{%- block navbar %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/ezq">Quota-EZ Chooser</a></li>
{%- if errors %}
  <li><a href="/ezq/1">EZ Edit</a></li>
  <li class="active">Error</li>
</ol>
{%- else %}
  <li class="active">EZ Edit</li>
{%- endif %}
</ol>                  <!-- End navbar block -->
{%- endblock -%}
{%- block body -%}
<div class="container-fluid maxw">
{%- if errors -%}
  <h3>Errors in Quota From</h3>   What
    {%- for group, field, typemsg in errors %}
    <ul class="alert alert-danger">
      <ol>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
          {{ "<u>%s</u>, <i>%s</i> needs to be a %s"|format(group, field, typemsg)|safe }}
      </ol>
    </ul>
    {%- endfor %}
<button class="btn btn-default" onclick="window.history.back();">
Go Back and Fix!</button>
{%- else %}
<form class="form-inline" role="form" method="POST">
<div class="row" id="main_head"> <!-- Start Title bar -->
  <strong class="col-xs-3">Name</strong>
  <strong class="col-xs-1">Fix</strong>
  <strong class="col-xs-1">Quota</strong>
  <strong class="col-xs-5">Slider</strong>
</div>
<span hidden id="totalQuota">{{groups[0].parent.quota}}</span>
{%- for group in groups %}
<!-- Start of {{group}} row -->
<div class="row">
  <span class="col-xs-3"> {{group}}</span>
  <span class="col-xs-1">
    <span class="checkbox checkbox-danger" style="margin-top: 0px;">
        <input type="checkbox" name="{{group}}+take" class="ckbx"/>
        <label></label>
      </span>
  </span>
  <span class="col-xs-1" id="{{group}}+disp_quota">NULL</span>
  <span class="col-xs-1">0</span>
  <span class="col-xs-3">
    <input type="range" class="slider" name="{{group}}" value="{{group.quota}}"
           min="0" max="{{group.parent.quota}}" step="any"/>
  </span>
  <span class="col-xs-1 tqdisp">NIL</span>
</div>
{%- for child in group %}
<div class="row grey-row {% if loop.last -%}last-grey{%- endif -%}">
    <span class="col-xs-1"></span>
    <span class="col-xs-3">{{child}}</span>
    <span class="col-xs-1" id="{{child}}+child_disp_quota">{{child.quota}}</span>
    <span class="col-xs-4"></span>
    <input type="hidden" name="{{child}}+child_quota" value="{{child.quota}}">
</div>
{%- endfor %}
{%- endfor %}
<span id="debugsum">XX</span>
<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-default btn-sm" onclick="window.history.back();">Back</button>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </div>
</div>
</form>
{%- endif %}
</div>
<script src="{{ url_for('static', filename='js/ezedit.js')}}"></script>
{%- endblock %}
