<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ATLAS Group Quotas</title>
</head>
<body>
  <p> List of Tier 3 Users </p>
  <table>
    <caption> T3 Users </caption>
    <thead>
      <tr>
        <th>Username</th>
        <th>Full Name</th>
        <th>Institution</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
  {%- for u in users %}
      <tr>
        <td> {{ u.name }} </td>
        <td> {{ u.fullname }} </td>
        <td> {{ u.institute.fullname }} </td>
        <td> {{ u.institute.group }} </td>
      </tr>
  {%- endfor %}
    </tbody>
  </table>
  </div>
</body>
</html>
