<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  table {
      font: 9pt Arial,FreeSans,sans-serif;
      border-collapse: collapse;
      empty-cells: show;
      border-spacing:1px 1px;
      border-style: outset;
  }

  td {
      padding: 0px 6px 0px 6px;
      border-style: solid dotted solid none;
      border-width: thin;
  }

  th {
      font-family: serif;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 4px;
      border-style: solid dotted solid none;
      border-width: thin;
  }
  </style>
  <title>ATLAS Group Quotas</title>
</head>
<body>
  <table>
    <caption> List of Tier-3 Users </caption>
    <thead>
      <tr>
        <th>Username</th>
        <th>Full Name</th>
        <th>Institution</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
  {%- for u in users %}
      <tr>
        <td> {{ u.name }} </td>
        <td> {{ u.fullname }} </td>
        <td> {{ u.institute.fullname }} </td>
        <td> {{ u.institute.group }} </td>
      </tr>
  {%- endfor %}
    </tbody>
  </table>
  </div>
</body>
</html>
