{%- extends "layout.html" %}

{%- block extraheaders %}
  {{ macros.css('vendor/bootstrap-select.min.css') }}
  {{ macros.js('vendor/bootstrap-select.min.js') }}
  {{ macros.js('mylib.js') }}
{%- endblock %}

{% block endjs -%}
{{ macros.js('t3.js') }}
<script type="text/javascript">
$('.selectpicker').selectpicker();
</script>
{%- endblock -%}

{%- block navbar %}
{{ macros.navbar(('Home', 'main_menu'), ('T3 Users', None)) }}
{%- endblock %}

{%- block body %}
<div class="container maxw"> <!-- Main page -->
  <p class="lead"> List of Tier 3 Users {%- if filtered %} for {{ filtered.fullname }}{%- endif -%}</p>
  <form class="form" role="form" method="POST">
  <table class="table table-bordered table-striped table-hover table-condenced">
    <colgroup>
      <col class="col-md-1">
      <col class="col-md-2">
      <col class="col-md-4">
      <col class="col-md-5">
    </colgroup>
    <thead>
      <tr>
        <th> Delete </th>
        <th> Username </th>
        <th> Full Name </th>
        <th> Institute </th>
      </tr>
    </thead>
    <tbody>
    {%- for u in users %}
    <tr>
      <td>
        <span class="checkbox checkbox-danger checkbox-inline">
          <input type="checkbox" name="rm_me" value="{{u.name}} {{u.affiliation}}"/>
          <label></label>
        </span>
        <button class="btn btn-primary btn-xs" type="button"
                data-title="Edit" data-toggle="modal" data-target="#editUser"
                data-name="{{u.name}}" data-fullname="{{u.fullname}}" data-affiliation="{{u.affiliation}}">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </td>
      <td> {{ u.name }} </td>
      <td> {{ u.fullname }} </td>
      <td> {{ u.institute.fullname }} <small>({{u.affiliation}})</small></td>
    </tr>
    {%- endfor %}
    </tbody>
  </table>
  <div class="row">
    <div class="form-group col-sm-3">
      <label class="control-label">Username</label>
      <input type="text" name="newname" class="form-control" placeholder="Unix username..."/>
    </div>
    <div class="form-group col-sm-4">
      <label class="control-label">Full Name</label>
      <input type="text" name="newgiven" class="form-control" placeholder="Full Name..."/>
    </div>
    <div class="form-group col-sm-5">
      <label class="control-label">Institute</label><br>
      <select name="newgroup" class="selectpicker">
        <option value=""> Please Select... </option>
      {%- for g in institutes %}
        <option value="{{g.name}}">{{"%s (%s)"|format(g.fullname, g.name)}}</option>
      {%- endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <a href="{{ url_for('main_menu') }}" class="btn btn-default btn-sm" role="button">Back</a>
      <button type="submit" class="btn btn-success btn-sm" name="bAct" value="add">Add New</button>
      <button type="submit" class="btn btn-danger btn-sm" name="bAct" value="rm">Remove Selected</button>
    </div>
  </div>
  </form>

  <!-- Modal -->
  <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit User</h4>
        </div>
        <form id="editForm" method="post" class="form-horizontal" action="{{ url_for('edit_user') }}">
        <div class="modal-body">

        <div class="form-group">
          <label class="col-xs-3 control-label">Username</label>
          <div class="col-xs-6">
            <input id="in-fullname" type="text" class="form-control" name="fullname"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3 control-label">Full Name</label>
          <div class="col-xs-3">
            <input id="in-name" type="text" class="form-control" name="name"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3 control-label">Group</label>
          <div class="col-xs-5">
            <select id="in-grouppick" name="affiliation" class="selectpicker">
            {% for i in institutes -%}
              <option value="{{ i.name }}">{{ i.fullname }}</option>
            {% endfor -%}
            </select>
          </div>
        </div>

        </div>
        <div class="modal-footer">
          <input id="in-origname" type="hidden" class="form-control" name="origname" value=""/>
          <input id="in-origaffil" type="hidden" class="form-control" name="origaffil" value=""/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>  <!-- Modal -->

</div> <!-- End Page -->

{%- endblock %}
