{%- extends "layout.html" %}
{%- block navbar %}
{{ macros.navbar(('Home', '/'), ('Users', None)) }}
{%- endblock %}
{%- block body %}
<div class="container maxw"> <!-- Main page -->

  <div class="container-fluid row">
    <div class="col-lg-7">
    <table class="table table-hover">
      <tr><th> Name </th><th> Active </th><th> Roles </th></tr>
{%- for user in u %}
      <tr>
        <td> {{ user.name }} </td>
        <td> {{ user.active }} </td>
        <td> ...roles... </td>
      </tr>
{%- endfor -%}
    </div>
    </table>

  <form class="form-inline" role="form" method="POST">
    <div class="container-fluid">
    Add New form
    </div>
  </form>
</div> <!-- End entire page -->
{%- endblock %}
