{%- extends "layout.html" %}
{%- block extraheaders %}
  {{ macros.css('treeview.css') }}
{%- endblock %}
{%- block endjs %}
  {{ macros.js('treeview.js') }}
{%- endblock %}
{%- block navbar %}
{{ macros.navbar(('Home', '/'), ('Quota-EZ Chooser', None)) }}
{%- endblock -%}
{%- block body -%}
{%- set rootgrp = groups[0].parent -%}
<div class="container-fluid maxw">
  <h3>Subtree Picker</h3>
  <div class="row">
    <p class="col-sm-7 ulinerow">
      Choose from below the subtree group (hovering will hilight the subtree you
      would choose) <em>whose children</em> you want to rebalance while keeping
      its quota steady. The quotas of each group are shown below and the current
      selection is in bold when hovering.
    </p>
  </div>

  <div class="treediv row"><!--- Down one lvl -->
  <div class="parent">
    {%- if rootgrp.children|length >= 2 -%}
    <a href="/ezq/%3croot%3e">{{"Tree Root"}}</a>
    {%- else -%}
    Tree Root
    {%- endif -%}
    <span class="quotaeztree text-muted">{{rootgrp.get_children()|sum(attribute='quota')}}</span>
  </div>
{%- for group in groups %}
  {%- set prev_level = level if not loop.first else -1 %}
  {%- set level = group.full_name.count('.') %}
  {%- if level < prev_level %}
    {%- for i in range(prev_level - level) %}
  </div> <!--- UP one lvl -->
    {%- endfor %}
  {%- elif level > prev_level %}
  <div class="treediv"> <!--- Down one lvl -->
  {%- endif %}
  {%- if not group.is_leaf and group.children|length > 1 %}
  <div class="parent">
    <a href="/ezq/{{group}}">{{group}}</a>
  {%- else %}
  <div class="nonparent">
    <i>{{group}}</i>
  {%- endif %}
    <span class="quotaeztree text-muted">{{group.quota}}</span>
  </div>
{%- endfor %}
</div><!--- UP one lvl -->
</div><!--- UP one lvl -->
  <div style="margin-top: 12px;">
    <a href="/" class="btn btn-default btn-sm" role="button">Back</a>
  </div>
  <div id="colorkey" class="noseeme row" style="margin-left: 10px;">
    <div>Color Key:</div>
    <div class="col-xs-1 pallet text-center editparent">Selected Group</div>
    <div class="col-xs-1 pallet text-center willedit">Directly Edited</div>
    <div class="col-xs-1 pallet text-center childedit">Child to Edit</div>
  </div>
</div> <!-- End Main Container -->
{%- endblock %}
