{%- extends "layout.html" %}

{% block endjs -%}
<script type="text/javascript">
$(".truefalse").bootstrapSwitch();
$(function () {
  $('[data-toggle="popover"]').popover({'trigger': 'hover', 'placement': 'auto'})
})
</script>
{%- endblock -%}

{%- macro colhead(name, helptitle, helpbody) -%}
<th>
<div data-toggle="popover"
    title="{{ helptitle }}"
    data-content="{{ helpbody }}">
  <span class="glyphicon glyphicon-question-sign" aria-hidden=""></span>
  {{ name }}
</div>
</th>
{%- endmacro -%}

{%- block navbar %}
{%- if errors %}
{{ macros.navbar(('Home', 'main_menu'), ('Edit Groups', 'edit_groups'), ('Error', '')) }}
{%- else %}
{{ macros.navbar(('Home', 'main_menu'), ('Edit Groups', '')) }}
{%- endif %}
{%- endblock %}

{%- block body %}
<div class="container maxw">
{% if errors -%}
{{ macros.showerror("Errors in Quota Form", errors)}}
{% else -%}
<h3>Edit Group Parameters</h3>
<div class="row">
  <p class="col-xs-9">
    This table allows you to edit any property of a group. Only groups
    that are leaf-nodes can have a threshold or quota set, but everything
    else is unrestricted. <span class="text-danger">Be careful changing the
    quotas,</span> because a change will filter "up" the tree to the
    parents &mdash; adding 5 to a leaf will add 5 to each parent's quota up to the
    root.
  </p>
</div>
<form class="form-inline" role="form" method="POST">
  <table class="table table-bordered table-striped table-hover table-condenced">
    <colgroup>
      <col class="col-md-2">
      <col class="col-md-1">
      <col class="col-md-1">
      <col class="col-md-1">
      <col class="col-md-1">
      <col class="col-md-1">
    </colgroup>
    <thead>
      <tr>
          {{ colhead('Name', 'Group Name', "
            The group's name can by any alphanumeric string, but root-groups
            need to start with 'group_'") }}
          {{ colhead('Quota', 'Absolute Quota', "
            The number of CPUs (units of SlotWeight) the group can use") }}
          {{ colhead('Prio', 'Group Priority', "
            The default UserPrio Factor that members of the group will inherit
            (not really useful unless you are doing auto-regroup)") }}
          {{ colhead('Weight', 'Group Weight', "
            A weight determined by how 'large' the jobs in this group will be,
            ususally the number of CPUs the jobs require, e.g. an 8-core group
            would have weight=8.0") }}
          {{ colhead('Threshold', 'Demand Threshold', "
            The number of idle jobs in the queue above which the balancing
            algorithm will consider the queue as having sufficient demand.") }}
          {{ colhead('Surplus', 'Accept Surplus', "
            The surplus flag toggle for this group. Normally this should not
            need to be manually set, the balancing algorithm should toggle these
             automatically based on demand &amp; weight") }}
      </tr>
    </thead>
    <tbody>
    {%- for group in groups %}
    {%- set parent = '.'.join(group.full_name.split('.')[:-1]) %}
    <tr class="{% if not g.can_change(group) %}cantedit{% endif %}">
      <td>
        {{parent + ("."|safe if parent else "")}}
        <input type="text" value="{{group.full_name.split('.')[-1]}}" class="form-control sm-box namebox"
                name="{{group.full_name + '+new_name'}}"/>
      </td>
      <td>
        <input type="text" name="{{group.full_name + '+quota'}}" class="form-control sm-box" \\
            value="{{group.quota}}"
             {{ 'disabled title="Disabled because non-leaf node"'|safe if not group.is_leaf else ''}} />
      </td>
      <td>
        <input type="text" name="{{group.full_name + '+priority'}}"
               class="form-control sm-box"
               value="{{group.priority|round(1)}}"/>
      </td>
      <td>
        <input type="text" name="{{group.full_name + '+weight'}}"
               class="form-control sm-box" value="{{group.weight|round(1)}}"/>
      </td>
      <td>
        <input type="text" name="{{group.full_name + '+surplus_threshold'}}"
               class="form-control sm-box"
          {%- if group.is_leaf %}
               value="{{group.surplus_threshold}}"/>
          {%- else %}
               value="" disabled title="Disabled because non-leaf node"/>
          {%- endif %}
        <input type="hidden" name="{{group.full_name + '+group_name'}}" value="{{group.full_name}}"/>
      </td>
      <td>
        <input type="checkbox" name="{{group.full_name + '+accept_surplus'}}"
               class="truefalse" {{ 'checked' if group.accept_surplus else '' }}>
      </td>
    </tr>
    {%- endfor %}
    </tbody>
  </table>
  <br>
<a href="{{ url_for('main_menu') }}" class="btn btn-default btn-sm" role="button">Back</a>
<button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
{% endif -%}
</div>
{%- endblock %}
