{% extends "layout.html" %}
{% block navbar %}
{{ macros.navbar(('Home', 'main_menu')) }}
{% endblock %}
{% block body %}
{%-  if 'admin' in session.roles %}
<div class="" id="adminbtn">
  <div class="col-xs-6">
    <a href="{{ url_for('usermanager') }}" class="btn btn-warning btn-sm" role="button">Administer Users</a>
  </div>
</div>
{%- endif %}
<div class="container-fluid">
  <h2>{{ config['APP_NAME'] }} HTCondor Groups</h2>
  <div class="row">
    <p class="col-sm-7">
      This page allows you to create, alter, and remove groups from the group
      tree used by HTCondor in ATLAS. There are three areas of this webpage,
      one that allows you to create and remove groups (Add/Remove Button),
      one that lets you edit any parameter of those groups (Edit button), and one
      that allows easy editing of the quota at one level of the tree without
      violating other levels (EZ-Edit button).
    </p>
  </div>
    <div class="row" id="main_head">
      <strong class="col-xs-3">Name</strong>
      <strong class="col-xs-1">Quota</strong>
      <strong class="col-xs-1">Prio</strong>
      <strong class="col-xs-1">Weight</strong>
      <strong class="col-xs-1">Surplus</strong>
      <strong class="col-xs-1">Busy</strong>
    </div>
    {%- for group in groups %}
    <div class="row main-row {{'text-muted' if not group.is_leaf else ''}}">
      <div class="col-xs-3">
        {# {%- if group.is_leaf %}<span class="glyphicon glyphicon-leaf text-success"></span>{%- endif %}#}
        <strong>{{group.full_name}}</strong></div>
      <div class="col-xs-1">{{group.quota}}</div>
      <div class="col-xs-1">{{group.priority|round(1)}}</div>
      <div class="col-xs-1">{{group.weight|round(1)}}</div>
      <div class="col-xs-1">
        <span class="glyphicon {{ 'glyphicon-ok text-success' if group.accept_surplus else 'glyphicon-remove text-danger' }}" aria-hidden="true">
        </span>
      </div>
      <div class="col-xs-1">{{group.busy}}</div>
    </div>
    {%- else -%}
    <div class="row"><div class="col-xs-12 text-danger">No Groups Defined</div></div>
    {%- endfor %}
  <div class="row spacer-below">
    <div class="col-xs-12">
    {%- set nogroups = "" if groups|length > 0 else " disabled" %}
    {%-  if 'admin' in session.roles or 'balance' in session.roles %}
      <a href="{{ url_for('ez_quota_chooser') }}" class="btn btn-success btn-sm{{ nogroups}}" role="button">Quotas EZ-Edit</a>
    {%- endif %}
    {%-  if 'admin' in session.roles or 'edit' in session.roles %}
      <a href="{{ url_for('edit_groups') }}" class="btn btn-primary btn-sm{{ nogroups}}" role="button">Edit Groups</a>
    {%- endif %}
    {%-  if 'admin' in session.roles or 'alter' in session.roles %}
      <a href="{{ url_for('add_groups') }}" class="btn btn-danger btn-sm" role="button">Add/Remove Groups</a>
    {%- endif %}
    </div>
  </div>
</div>
{% endblock %}
