{%- extends "layout.html" %}
{%- block navbar %}
{%- if groups %}
{{ macros.navbar(('Home', 'main_menu'), ('Choose Plot', '')) }}
{%- else %}
{{ macros.navbar(('Home', 'main_menu'), ('Choose Plot', 'plot_page'), ('Image', '')) }}
{%- endif %}
{%- endblock %}
{%- block body %}
{%- if groups %}
<div class="container maxw">

<div class="list-group col-sm-5">
  <p class="list-group-item list-group-item-info">
    <strong>Groups with idle jobs in last 4 hours</strong>
  </p>
{%- for group in groups %}
  <a class="list-group-item" href="{{ url_for('plot_group', group=group)}}">{{ group }}</a>
{%- endfor %}
</div>
</div>
<div class="container maxw">
  <button type="button" class="btn btn-default btn-sm" onclick="window.history.back();">Back</button>
</div>
{%- else %}
<div class="container maxw">
<div class="col-md-12">
  <div class="row">
    <img src="{{ url_for('plot_image', group=group) }}" class="img-responsive img-thumbnail"/>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default btn-sm" onclick="window.history.back();">Back</button>
  </div>
</div>
</div>
{%- endif %}
{%- endblock %}
