{%- extends "layout.html" %}
{%- block extraheaders %}
  {{ macros.css('vendor/bootstrap-select.min.css') }}
  {{ macros.js('vendor/bootstrap-select.min.js') }}
  {{ macros.js('mylib.js') }}
  {{ macros.css('user_treeview.css') }}
{%- endblock %}

{% block endjs -%}
<script type="text/javascript">
$('.selectpicker').selectpicker();
function cbox_change(event)    {
  var pdiv = $(this).parents().eq(2).next();
  if(pdiv.hasClass("treediv")) {
    if(this.checked)  {
      pdiv.find('div.treediv').andSelf().addClass('sel');
      pdiv.find('.cbox').attr('checked', false);
      pdiv.find('.cbox').attr('disabled', true);
    } else {
      pdiv.find('div.treediv').andSelf().removeClass('sel');
      pdiv.find('.cbox').attr('disabled', false);
    }
    // $(this).toggleClass('editparent');
  }
}
/* Toggle correct classes for highlight event on hover-over link */
$('.cbox').change(cbox_change);
$(document).ready(function() {
  $('input[type=checkbox]:checked').each(cbox_change);
});
</script>

{%- endblock -%}

{%- block navbar %}
{{ macros.navbar(('Home', 'main_menu'), ('Users', 'usermanager'), ('Group Edit', None)) }}
{%- endblock %}
{%- block body %}
<div class="container maxw">
<h3>Edit <span>{{ u|capitalize }}'s</span> Group-Restrictions</h3>
<div class="row">
  <p class="col-sm-9 ulinerow">
    Choose which groups user <i class="text-success">{{ u }}</i> can edit. Selecting none is the
    default of no restrictions.
  </p>
</div>

<form role="form" method="POST">
<div class="row">
{%- for group in groups %}
  {%- set prev_level = level if not loop.first else -1 %}
  {%- set level = group.full_name.count('.') %}
  {%- if level < prev_level %}
    {%- for i in range(prev_level - level) %}
  </div> <!--- UP one lvl -->
    {%- endfor %}
  {%- elif level > prev_level %}
  <div class="treediv"> <!--- Down one lvl -->
  {%- endif %}
  {%- if not group.is_leaf and group.children|length > 1 %}
  <div class="parent">
  {%- else %}
  <div class="nonparent">
  {%- endif %}
    <div class="control-group cbdiv">
      <label for="ip-{{group}}">
        <input name="ng" value="{{group}}" id="ip-{{group}}" class="cbox" type="checkbox"
        {%- if group.full_name in user_groups %} checked {%- endif %} />
        <span>{{group}}</span>
      </label>
    </div>
  </div>
{%- endfor %}
  </div><!--- UP one lvl -->
</div>
<div class="row">
  <a href="{{url_for('usermanager')}}" class="btn btn-default btn-sm">Cancel</a>
  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</div>
</form>
</div>
{%- endblock %}
