{%- extends "layout.html" %}
{%- block extraheaders %}
  {{ macros.js('vendor/bootbox.min.js') }}
  {{ macros.js('mylib.js') }}
{%- endblock %}
{%- block navbar %}
{{ macros.navbar(('Home', 'main_menu'), ('Users', None)) }}
{%- endblock %}
{%- block body %}
<div class="container maxw"> <!-- Main page -->
  <h2>User Management</h2>
  <div class="row">
    <p class="col-md-8">
      This page allows you (an administrator) to add, remove, and change the
      "roles" that each user has. The roles are explained in the table by
      the list of users.
    </p>
  </div>
  <div class="container-fluid row">
    <div class="col-lg-8">
    <table class="table table-hover">
      <colgroup>
        <col class="col-sm-1">
        <col class="col-sm-1">
        <col class="col-sm-2">
        <col class="col-sm-1">
        <col class="col-sm-2">
        <col class="col-sm-1">
      </colgroup>
      <caption> Users and roles </caption>
      <thead>
      <tr><th> Delete? </th><th> Name </th><th> Comment </th><th> Active </th>
          <th> Roles </th> <th> Groups? </th></tr>
      </thead>
      <tbody>
{%- for user in u %}
      <tr id="ur_{{user}}">
        <td> <!-- Delete button -->
          <span class="glyphicon glyphicon-remove text-danger aj_rmuser"
                aria-hidden="true" name="{{user}}"></span>
        </td>
        <td> {{ user }} </td>
        <td> {{ user.comment }} </td>
        <td> <!-- Active Box -->
          <input user="{{user}}" type="checkbox" class="checkslider aj_active"
          {%- if user.active %} checked{%- endif %} data-size="small">
        </td>
        <td> <!-- Role Checkboxes -->
          <div class="control-group">
        {%- for role in r %}
            <label class="checkbox-inline">
              <input class="aj_rolecheck" type="checkbox" user="{{user}}" role="{{role}}"
              {%- if role in user.roles %} checked{%- endif %}>
              {{ role }}
            </label>
        {%- endfor -%}
          </div>
        </td>
        <td> <!-- Group limit -->
          <!-- Small button group -->
          <div class="btn-group">
            <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.groups|length}} groups <span class="caret"></span>
            </button>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
          </div>
          {% if user.groups|length > 0 -%}
            Limited to {{user.groups|length}}
            <a href="{{ url_for('user_group_view', u=user) }}" class="btn btn-warning"
               role="button">
               Edit Here
            </a>
          {% else -%}
            Unlimited / All
            <a href="{{ url_for('user_group_view', u=user) }}" class="btn btn-default"
               role="button">
               Add Here
            </a>
          {% endif -%}
        </td>
      </tr>
{%- endfor %}
    </tbody>
    </table>
    </div>
    <div class="col-lg-4">
    <table class="table">
      <caption> Roles and Descriptions </caption>
      <thead>
        <tr><th> Name </th><th> Description </th></tr>
      </thead>
{%- for role in r %}
      <tr>
        <td> {{ role.name }} </td>
        <td> {{ role.comment }} </td>
      </tr>
{%- endfor %}
    </table>
    </div>
  </div>
  <div class="container-fluid row">
  <form class="form-horizontal" role="form" method="POST" action="{{url_for('add_user')}}">
    <div class="form-group">
      <div class="col-sm-2">
        <label>Name</label>
        <input type="text" name="username" class="form-control" placeholder="username"/>
      </div>
      <div class="col-sm-2">
        <label>Active</label>
        <div style="width: 100%;">
        <input type="checkbox" name="active" class="checkslider" checked/>
        </div>
      </div>
      <div class="col-sm-5">
        <label>Comment</label>
        <input type="text" name="comment" class="form-control" placeholder="description..."/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <a href="{{ url_for('main_menu') }}" class="btn btn-default" role="button">Back</a>
        <button type="submit" class="btn btn-primary">Add User</button>
      </div>
    </div>
  </form>
  </div>
</div> <!-- End entire page -->
{%- endblock %}

{% block endjs -%}
<script type="text/javascript">
$(".checkslider").bootstrapSwitch({
  onColor: 'success',
  offColor: 'danger',
  onText: 'YES',
  offText: 'NO',
});
</script>
{{ macros.js('user.js') }}
{%- endblock -%}
